<div class="pop-up-main-container">
    <div class="pop-up">
      <div class="student-details-card">
        <div class="id-card">
          <img src="https://res.cloudinary.com/bhanu-prakash/image/upload/v1691525249/girl_1_cd8gpm.png" alt="girl" class="id-card-photo">
        </div>
        <ol class="details">
         <li>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span> SNEHA</span></li>
         <li>Student Id &nbsp;&nbsp;&nbsp;&nbsp;:<span> 16KB1A0441</span></li>
         <li>Standard   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span> 5<sup>th</sup></span></li>
         <li>Division&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span> Primary</span></li>
         <li>Year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span> Year 3</span></li>
         <li>Blood Group&nbsp;:<span> B+</span></li>
         <li>Parents Contact Number:<span> 987654321</span> </li>
        </ol>
      </div>
      <div class="student-marks-container">
        <div class="cancel-button">
            
        </div>
        <div class="marks-table">
          <h2 class="std-marks">Student Marks :</h2>
          <table class="table-data">
            <tr>
              <th>Subject</th>
              <th>Marks</th>
            </tr>
            <tr>
              <td>English</td>
              <td>90</td>
            </tr>
            <tr>
              <td>MatheMatics</td>
              <td>98</td>
            </tr>
            <tr>
              <td>Natural Science</td>
              <td>95</td>
            </tr>
            <tr>
              <td>Physical Science</td>
              <td>89</td>
            </tr>
            <tr>
              <td>Social</td>
              <td>90</td>
            </tr>
            <tr>
              <th>Total(600)</th>
              <th>578</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  